@inherits LayoutComponentBase

@inject Persistant_Info p_i

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{

    protected override async Task OnInitializedAsync()
    {
        
    }
}
